@import "reset.css";

:root {
    --fg: 250;
    --bg-shade: .9;
    --background-secondary: 50;
    --paragraph-width: 510px;
    --paragraph-height: 30vh;
    --fg-100: rgba(var(--fg), var(--fg), var(--fg), 1);
    --fg-90: rgba(var(--fg),var(--fg),var(--fg), 0.9);
    --fg-50: rgba(var(--fg), var(--fg), var(--fg), 0.5);
    --fg-30: rgba(var(--fg), var(--fg), var(--fg), 0.3);
    --fg-10: rgba(var(--fg),var(--fg),var(--fg), 0.1);
    --bg: rgba(10,10,10,1);
    --h3-size: 17px;
    --body-font-family: 'neue-haas-grotesk-text';
    --body-line-height: 150%;
    --body-size: 15px;
    --body-letter-spacing: 0.02em;
    --caption-size: 14px;
    --caption-letter-spacing: 0.02em;
    --mobile-size: 14px;
    --mobile-letter-spacing: 0.02em;
    --min-size: 14px;
}

table {
    font-size: var(--caption-size);
    width: 100%;
    line-height: 1.6
}

.topic {
    font-size: var(--min-size);
    width:50%;
}
.date, .client, k {
    font-size: var(--min-size);
    color: var( --fg-50);

}

.hoverCard small {
  display: inline-block;
  padding-top: 3px;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  font-family: var(--body-font-family),neue-haas-unica, aktiv-grotesk, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  background: var(--bg);
}


.landing {
  padding: 60px 30px 30px 40px;
  display: grid;
  grid-template-columns: var(--paragraph-width) 1fr;
  column-gap: 60px;
}


.about {
    grid-column-start: 1;
    width: var(--paragraph-width);
    position: fixed;
}


.media {
    grid-column-start: 2;
    width: 100%;
    margin-top: 30px;
}

footer {
    position: fixed;
    margin-top: 0px;
    bottom:0px;
    padding-bottom: 30px;
    width: var(--paragraph-width);
}



::selection {
  color: none;
  background: none;
}

/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

.indent {
  margin-right: 28px;
}

a,
p,
b {
  color: var(--fg-90);
  line-height: var(--body-line-height);
  font-size: var(--body-size);
  font-style: normal;
  font-weight: 400;
  letter-spacing: var(--body-letter-spacing);
  z-index: 0;
  width: auto;
}

b{
  font-weight: 600;
}


a {
  text-decoration: none;
  border-bottom: 1px solid var(--fg-30);
}

small{
  font-size: var(--caption-size);
  color: var(--fg-90);
  line-height: var(--body-line-height);
  letter-spacing: var(--caption-letter-spacing);
  font-style: normal;
  font-weight: 400;
  z-index: 0;
  width: auto;
  margin-top: 5px;
  opacity: 0.5;
}

small b{
  font-size: var(--caption-size);
}

.about a:hover,
footer a:hover,
nav a:hover {
    border-bottom: 1px solid var(--fg-90);
    color: var(--fg-100);
}

p {
  cursor: default;
}




.hoverCard {
  width: 100%;
  max-width: 1000px;
  transform-origin: center top;
  border-bottom: none;
  display: inline-block;
  animation: loadIn 0.8s 1s forwards;
  opacity: 0;
}

.hoverCard,
figure {
  transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

figure {
    z-index: 1;
    margin-bottom: 30px;
}

figure:last-child {
  margin-bottom: 70px;
}

.about,
footer,
nav{
  opacity: 0;
  animation: loadIn 0.8s 0.5s forwards;
}

.hoverCard:nth-child(1) {
  animation-delay: 0.5s;
}
.hoverCard:nth-child(2) {
  animation-delay: 0.55s;
}
.hoverCard:nth-child(3) {
  animation-delay: 0.6s;
}
.hoverCard:nth-child(4) {
  animation-delay: 0.65s;
}
.hoverCard:last-child {
  margin-bottom: 0px;
  animation-delay: 0.65s;
}
.hoverCard a {
  text-decoration: none;
}


figure:hover {
  transform: scale(1.005);
  opacity: 0.9;
}

.hoverCard video,
.hoverCard img, iframe {
  border: 1px solid var(--fg-10);
  border-radius: 10px;
  display: block;
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: cover;
}



.hoverCard:hover > img, .hoverCard:hover > video{
  box-shadow: 0 0 100x var(--fg-10);
  border: 1px solid var(--fg-50);
}

.hoverCard:hover > small{
  opacity: .9;
}


nav {
    text-align: right;
    z-index:10;
    position: fixed;
    width: 100%;

}


.navigation {
    padding-right: 1em;
}

.nav-indent {

    margin-left: 28px;
}

@keyframes loadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.up {
    border: 1px solid var( --fg-90);
    border-radius: 1000px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 12px 12px 12px 12px;
    background-color: var( --bg);
    z-index:1000;
    cursor:pointer;
}

    .up > a {

        font-size: 24px;
        border-bottom: 0px;
    }



@media (max-width: 950px) {

    .landing {
        padding: 60px 30px 30px 30px;
        grid-template-columns: 1fr;
    }
  .about {
    position: static;
    width: 100%;
  }
  .media {
    margin-top: 30px;
    grid-column-start: 1;
  }

  footer {
    position: static;
    margin-top: 0px;
    width: 100%;
  }

  .contact{
      text-align:center;
  }

  .resume{
      height:auto;
  }

    .up > a {
        font-size: 20px;
        border-bottom: 0px;
    }


}

@media (max-width: 450px) {
  .landing {
    padding: 32px 16px 14px 16px;
    column-gap: 0;
  }

  a,
  p
  {
    line-height: 1.4em;
    font-size: var(--mobile-size);
    letter-spacing: var(--mobile-letter-spacing);
  }

  small, small b{
    font-size: var(--caption-size);
    letter-spacing: var(--caption-letter-spacing);
    line-height: 1.4em;
  }

    label > k {
        display: none;
    }

    .k {
    }

    .topic, .client, .date {
        font-size: 12px;
    }
}
